/* popup.css */
body {
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

#popup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
